# Core functionality - changes here should be rare!
/src/app.py                   @ZaredRogers
/src/backend/database.py      @ZaredRogers
/src/backend/routers/auth.py  @ZaredRogers

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ZaredRogers
